/* -----------------------------------------------------------------  CSS Reset -----------------------------------------------------------------  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------------------------------------------------------- Fonts -----------------------------------------------------------------  */
@font-face {
    font-family: 'Roboto Regular';
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

/* General styling */
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    font-family: 'Roboto Regular', sans-serif;
}

/* -----------------------------------------------------------------  Sidebar -----------------------------------------------------------------  */
.sidebar {
    background-color: #1992d4; /* blue */
    color: white;
    grid-column: 1;
    grid-row: span 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 3rem;
}

.dashboard {
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    margin-top: 1rem;;
    margin-left: 1rem;
}   

.dashboard > img {
    width: 15%;
    height: auto;
}

.nav-bar {
    margin-left: 1.5rem;
}

.nav-bar-section {
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
    gap: 1.5rem;
    letter-spacing: 0.1rem;
}

.nav-bar-section > img {
    width: 8%;
    height: auto;
}

.nav-bar-section > h2 {
    font-size: 1.2rem;
}

/* -----------------------------------------------------------------  Header -----------------------------------------------------------------  */
.header {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1.7fr 1fr;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: relative; /* to show box shadow */
}
/* Header top left */

.header-top-left {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}

.header-top-left > img {
    width: 3%;
    height: auto;
}

/* Header top right */

.header-top-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin-right: 5rem;
}

#search {
    border: none;
    font-size: 1rem;
    border-radius: 16px;
    width: 80%;
    background-color: #e2e8f0; /* off white */
    padding: 10px;
}

#search:focus {
    outline: none;
    border: 2px solid black;
}

.bell-ring {
    width: 1.5rem;
    height: auto;
}

.icon-small {
    width: 2.5rem;
    height: auto;
    border-radius: 50px;
}

/* Header bottom left */

.header-bottom-left {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-bottom: 1rem;
    gap: 1rem;
}

.greeting > p {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.icon-big {
    border-radius: 50px;
    width: 5rem;
    height: auto;
}

/* Header bottom right */
.header-bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.btn {
    background-color: #1992d4; /* blue */
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem 2.5rem;
    border-radius: 20px;
    cursor: pointer;
    border: none;

}

/* ----------------------------------------------------------------- Main content ----------------------------------------------------------------- */
.main-content {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 2.3fr 1fr;
}



.main-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 1rem;
    gap: 1.5rem;
}

.main-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.project-icon {
    width: 1.5rem;
    height: auto;
}

.project-card {
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem;
    border-left: 8px solid #f0b429; /* yellow border on the left */ 
    height: 95%;  
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.project-title {
    margin: 1rem;
    margin-top: 3rem;
}

.card-icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2rem;
}

.card-text-container > p {
    color: darkslategrey;
    margin-top: 0.3rem;
}

