/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: 'Roboto Regular';
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

/* General styling */
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    font-family: 'Roboto Regular', sans-serif;
}

/* Sidebar */
.sidebar {
    background-color: #1992d4; /* blue */
    color: white;
    grid-column: 1;
    grid-row: span 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 3rem;
}

.dashboard {
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    margin-top: 1rem;;
    margin-left: 1rem;
}   

.dashboard > img {
    width: 15%;
    height: auto;
}

.nav-bar {
    margin-left: 1.5rem;
}

.nav-bar-section {
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
    gap: 1.5rem;
    letter-spacing: 0.1rem;
}

.nav-bar-section > img {
    width: 8%;
    height: auto;
}

.nav-bar-section > h2 {
    font-size: 1.2rem;
}

/* Header */
.header {
    background-color: #84ffff;
}

/* Main content */
.main-content {
    background-color: #18ffff;
}